html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

body {
	font-family: 'Rotonda-Bold', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: #fff;
}

.container {
	max-width: 986px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	font-family: 'Rotonda-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
}

.subtitle {
	font-family: 'Rotonda-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 31px;
}

.button {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	padding: 14px;
	color: #FFFFFF;
	border: none;
	text-transform: uppercase;
	background: #E32885;
	box-shadow: 0px 2px 0px #c51f74;
	cursor: pointer;
	outline: none;
}

.description {
  font-family: 'Rotonda-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 19px;
	height: 19px;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.small-text {
	font-family: 'Rotonda-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
}

.beacon {
  display: inline-block;
  position: relative;
}

.beacon-second {
  position: relative;
}

/* Header */

.header {
  background: url('../images/header/background-2.jpeg') 50% 79% no-repeat;    
	background-color: #E7E7E7;
  background-size: cover;
	padding-bottom: 100px;
  position: relative;
}

.header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/header/background-3.svg') no-repeat;
    top: 63%;
    left: 0;
    background-size: 100% 37%;
}

.header__top-section {
	display: flex;
	justify-content: flex-end;
	padding: 14px 30px 31px 30px;
  background-repeat: no-repeat;
  background-position: 45% 0%;
}

.header__top-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
}

.header__menu-background {
  display: none;
}

.header__top-logo {
	position: absolute;
	left: 50px;
	top: 41px;
}

.header__modile-logo {
  display: none;
}

.header__list {
	display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
}

.header__link {
	padding: 6px 24px 9px 24px;
	font-family: 'Rotonda-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	border: 2px solid transparent;
	transition: all .3s;
}

.header__link:hover {
	border: 2px solid;
  border-image-source: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
  border-image-slice: 1;
  border-width: 2px;
}

.header__mobile-nav {
  display: none;
}

.header__close-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border: 2px solid #fff;
  background: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
  z-index: 2;
  cursor: pointer;
}

.header__backround-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header__bottom-section {
  position: relative;
}

.header__bottom-title {
	color: #E32885;
}

.carryover {
  display: none;
}

.header__bottom-description {
	background: #E32885;
  top: -35px;
	left: -10px;
}

.header__bottom-description::after {
	content: "3";
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(0deg);
}

.header__bottom-subtitle {
	color: #1DACD1;
}

.header__bottom-form {
	width: 467px;
	margin-top: 24px;
}

.header__form-wrapper {
	display: flex;
  align-items: center;
  justify-content: space-between;
	background-color: #fff;
	padding: 3px 3px 5px 25px;
}

.header__bottom-input {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	border: none;
	color: #585858;
	padding: 0;
	outline: none;
}

.header__button {
  padding: 12px 26px;
}

.header__bottom-text {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #585858;
	width: 467px;
	margin-top: 13px;
}

.header__bottom-link:hover {
	color: blue;
}

.header__bottom-image {
  position: relative;
	margin-top: 27px;
  z-index: 1;
}

.header__mobile-image {
  display: none;
}

.header__foundations {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	margin-top: 33px;
	padding: 4px 4px 4px 36px;
  position: absolute;
  bottom: -154px;
  z-index: 2;
}

.header__foundations-list {
	display: flex;
	align-items: center;
}

.header__foundations-item {
	margin-right: 38px;
}

.header__donations {
	background: #F7F7F7;
	text-align: center;
	padding: 16px 23px;
}

.header__donations-description {
	font-family: 'Rotonda-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	color: #585858;
}

.header__donations-sum {
	font-family: 'Rotonda-Bold', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 62px;
	color: #AF7039;
	background: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1400px) {
  .header__top-section {
    padding-bottom: 60px;
  }

  .header__top-background {
    width: 915px;
  }

  .header__top-logo {
    display: none;
  }
  
  .header__modile-logo {
    display: block;
    position: absolute;
    left: 15px;
    top: 5px;
    z-index: 2;
  }
}

@media screen and (max-width: 1200px) {
  .header__link {
    padding: 6px 15px 9px 15px;
  }
}

@media screen and (max-width: 992px) {
  .header__top-background {
    width: 106%;
  }

  .header__foundations {
    display: block;
    padding: 4px 4px 4px 4px;
    top: 81%;
    left: 50%;
    transform: translate(-50%, 32%);
    width: 100%;
  }

  .header__foundations-item:last-child {
    margin-right: 0;
  }

  .header__foundations-list {
    justify-content: space-around;
  }

  .registration__list {
    flex-direction: column;
    align-items: center;
  }

  .registration__item {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background: url('../images/header/mobile-bg.png') no-repeat;
    background-size: contain;
    background-color: #E7E7E7;
  }

  .header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/header/background-5.svg') no-repeat;
    top: 70%;
    left: 0;
    background-size: 100% 37%;
  }

  .header__top-section {
    background: url('../images/header/background-4.svg') no-repeat;
    background-position: 100% 0%;
  }

  .header__list {
    display: none;
    background: #1DACD1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    padding: 21px 20px 0 20px;
    z-index: 2;
  }

  .header__item {
    margin-bottom: 25px;
  }

  .header__link {
    font-size: 18px;
    line-height: 18px;
    border: none !important;
    padding: 0;
  }

  .header__link:hover {
    background: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #AF7039;
  }

  .header__top-background {
    display: none;
  }

  .header__menu-background {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .header__mobile-nav {
    display: flex;
    position: relative;
  }

  .header__personal-area {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 43px;
    height: 43px;
    margin-left: 10px;
    border-image-source: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
    border-image-slice: 1;
    border-width: 2px;
    outline: none;
    cursor: pointer;
  }

  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 43px;
    height: 43px;
    margin-left: 10px;
    border-image-source: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
    border-image-slice: 1;
    border-width: 2px;
    outline: none;
    cursor: pointer;
  }

  .header__bottom-title {
    text-align: center;
    font-size: 24px;
    line-height: 31px;
  }

  .header__bottom-subtitle {
    text-align: center;
    font-size: 21px;
    line-height: 25px;
    margin-top: 10px;
  }

  .header__bottom-description {
    top: -27px;
    left: -7px;
  }

  .header__bottom-text {
    margin-bottom: 500px;
  }

  .header__bottom-image {
    display: block;
    margin: 0 auto;
  }

  .header__foundations {
    top: 90%;
    transform: translate(-50%, 32%);
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .header {
    background-position: 0 56%;
  }

  .header::after {
    top: 73%;
    background-size: 112% 29%;
  }

  .header__modile-logo {
    left: 20px;
    top: 15px;
  }

  .header__top-section {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 31px;
  }

  .header__bottom-section {
    position: relative;
    padding-bottom: 209px;
    z-index: 2;
  }

  .header__bottom-subtitle {
    font-size: 16px;
    line-height: 21px;
    margin-top: 5px;
    width: 278px;
  }

  .carryover {
    display: block;
  }

  .header__bottom-form {
    width: auto;
    margin: 14px auto 0 auto;
  }

  .header__form-wrapper {
    flex-wrap: wrap;
    padding: 3px 3px 5px 3px;
  }

  .header__bottom-input {
    margin: 0 auto;
    text-align: center;
    padding: 16px 0 24px 0;
  }

  .header__button {
    font-size: 14px;
    width: 100%;
  }

  .header__bottom-text {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    width: auto;
  }

  .header__bottom-image {
    display: none;
  }
  
  .header__mobile-image {
    display: block;
    max-width: 70%;
    max-width: 107%;
    position: absolute;
    top: 72%;
    left: -5%;
  }

  .header__foundations {
    top: 96%;
    width: 282px;
    height: 160px;
    transform: translate(-50%, 7%);
  }

  .header__foundations-list {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 11px;
    padding-bottom: 13px;
  }

  .header__donations {
    padding: 7px 6px 14px 6px;
  }


  .header__foundations-image {
    width: 100%;
  }

  .header__donations-description {
    font-size: 14px;
    margin-top: 10px;
  }

  .header__donations-sum {
    font-size: 33px;
    line-height: 36px;
  }
}

@media screen and (max-width: 450px) {
  .header__bottom-text {
    margin-top: 0;
    margin-bottom: 303px;
  }
}

/* Registration */

.registration {
	background: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
	padding-top: 178px;
	padding-bottom: 270px;
  position: relative;
}

.registration::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/registration/background-1.svg') no-repeat;
  
  top: -2px;
  left: 0;
  background-size: 100% 19%;
}

.registration::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/registration/background-2.svg') no-repeat;
  
  bottom: -48%;
  left: 0;
  background-size: 100% 53%;
}



.registration__background-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.registration__background-2 {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
}

.registration__wrapper {
  position: relative;
  z-index: 3;
}

.registration__title-wrapper {
	text-align: center;
}

.registration__title {
	display: block;
	text-align: center;
	width: 586px;
	margin: 0 auto;
	line-height: 35px;
}

.registration__subtitle {
  text-align: center;
}

.registration__list {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.registration__item {
	display: flex;
	align-items: center;
}

.registration__item-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-right: 10px;
}

.registration__text {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	width: 186px;
}

.registration__bold-text {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

.registration__button {
	display: block;
	margin: 24px auto 0 auto;
  padding: 13px 27px;
}

@media screen and (max-width: 992px) {
  .registration__list {
    flex-direction: column;
    align-items: center;
  }

  .registration__item {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .registration::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/registration/background-3.svg') no-repeat;
    
    top: -7%;
    left: 0;
    background-size: 100% 28%;
  }

  .registration::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/registration/background-4.svg') no-repeat;
    
    top: 72%;
    left: 0;
    background-size: 100% 28%;
  }

  .registration__title {
    text-align: center;
    font-size: 24px;
    line-height: 31px;
    width: auto;
  }

  .registration__subtitle {
    font-size: 20px;
  }

  .registration__item {
    display: block !important;
    text-align: center;
  }

  .registration__item-wrap {
    margin: 0 auto;
  }

  .registration__text {
    width: initial !important;
  }
}

@media screen and (max-width: 576px) {
  .registration {
    padding-top: 130px;
  }

  .registration::before {
    top: -1%;
    background-size: 100% 16%;
  }

  .registration::before {
    background-size: 100% 22%;
  }

  .registration__title {
    font-size: 24px;
    line-height: 30px;
    
  }

  .registration__subtitle {
    font-size: 18px;
    line-height: 23px;
  }

  .registration__list {
    margin-top: 16px;
  }

  .registration__item-wrap {
    margin-bottom: 11px;
  }
}

/* Care */

.care {
  background: url('../images/care/background-1.png') 0% 15% no-repeat,
    url('../images/care/background-2.png') 100% 15% no-repeat,
    #1DACD1;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}



.care__background-1 {
  position: absolute;
  bottom: -32%;
  left: 0;
  width: 100%;
  z-index: 2;
}

.care__title-wrapper {
  position: absolute;
  top: -16%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.care__title {
  text-align: center;
  width: 515px;
  margin: 0 auto;
  line-height: 1px;
}

.care__description {
  background: #fff;
  top: -30px;
  right: -289px;
}

.care__description::after {
	content: "3";
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(0deg);
  color: #AF7039;
	background: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.care__subtitle {
  display: block;
  text-align: center;
  width: 421px;
  margin: 17px auto 0 auto;
}

.care__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.care__small-cards {
  margin-right: 19px;
}

.care__coupon {
  background: #fff;
  width: 468px;
  height: 220px;
  padding: 21px 5px 5px 5px;
  margin-bottom: 20px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.care__coupon:last-child {
  margin-bottom: 0;
}

.care__coupon-product {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #585858;
}

.care__coupon-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 30px;
}

.care__coupon-cost {
  font-family: 'Rotonda-Bold', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  color: #AF7039;
	background: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.care__coupon-bottom {
  display: flex;
  justify-content: space-between;
  background: #F7F7F7;
  padding: 18px 12px 13px 26px;
}

.care__personal-bonus {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #585858;
  width: 150px;
}

.care__plus-charity {
  color: #585858;
}

.care__fund-bonus {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #585858;
  width: 245px;
}

.care__big-card {
  background: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  position: relative;
}

.care__big-wrapper {
  background-image: url('../images/care/icon-3.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding: 25px 60px 18px 30px;
  height: 460px;
  position: relative;
}

.care__big-prize {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.care__big-sum {
  font-family: 'Rotonda-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 85px;
  color: #FFFFFF;
}

.care__big-currency {
  position: relative;
  font-family: 'Rotonda-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 65px;
  color: #FFFFFF;
}

.care__description-second {
  background: #fff;
  top: -80px;
  left: 210px;
}

.care__description-second::after {
	content: "2";
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(0deg);
  color: #AF7039;
	background: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.care__big-donation {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 9px;
  color: #FFFFFF;
}

.care__charitable-bold {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 70px;
  color: #FFFFFF;
}

.care__charitable-foundation {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-top: 70px;
  color: #FFFFFF;
}

.care__buyer-desire {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-align: center;
  margin: 21px auto 0 auto;
}

.care__button {
  margin: 17px auto 0 auto;
  display: block;
}

.care__wrap {
  position: relative;
}

.care__image {
  position: absolute;
}

.care__box {
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 992px) {
  .care__wrapper {
    display: block;
  }

  .care__coupon {
    width: auto;
  }

  .care__coupon:last-child {
    margin-bottom: 20px;
  }

  .care__small-cards {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .care__title {
    font-size: 24px;
    line-height: 31px;
  }

  .care__description {
    top: -30px;
    right: -15px;
  }

  .care__subtitle {
    font-size: 18px;
    width: auto;
  }
}

@media screen and (max-width: 576px) {
  .care {
    padding-bottom: 730px;
  }

  .care__title-wrapper {
    top: -145px;
    width: 260px;
  }

  .care__title  {
    width: auto;
    line-height: 24px;
  }

  .care__description {
    top: -22px;
    right: -18px;
  }

  .care__subtitle {
    line-height: 23px;
  }

  .care__mobile-wraper {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -15%);
  }

  .care__coupon {
    height: 100%;
    padding-top: 19px;
    width: 280px;
  }

  .care__coupon:last-child {
    margin-bottom: 15px;
  }

  .care__coupon-top {
    padding: 0px 15px;
    margin-bottom: 12px;
  }

  .care__coupon-product {
    font-size: 14px;
    line-height: 16px;
  }

  .care__coupon-cost {
    font-size: 32px;
    line-height: 41px;
  }

  .care__coupon-bottom {
    display: block;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 3px;
  }

  .care__personal-bonus {
    font-size: 14px;
    line-height: 16px;
    width: auto;
  }

  .care__personal-bonus br {
    display: none;
  }

  .care__plus-charity {
    font-size: 14px;
    line-height: 16px;
  }

  .care__fund-bonus {
    font-size: 14px;
    line-height: 16px;
  }

  .care__fund-bonus br {
    display: none;
  }

  .care__big-wrapper {
    background-image: url('../images/care/icon-mobile.png');
    height: 290px;
    padding: 15px 10px 15px 20px;
  }

  .care__big-prize {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
  }

  .care__big-sum {
    font-size: 60px;
    line-height: 55px;
  }

  .care__big-currency {
    font-size: 48px;
    line-height: 47px;
  }

  .care__description-second {
    top: -49px;
    left: 162px;
  }

  .care__big-donation {
    font-size: 14px;
    margin-top: 0;
  }

  .care__charitable-foundation {
    margin-top: 17px;
    font-size: 14px;
    line-height: 16px;
  }

  .care__charitable-bold {
    font-size: 14px;
  }

  .care__buyer-desire {
    margin-top: 28px;
  }

  .care__button {
    padding: 14px 22px;
  }
}

/* Products */

.product {
	background: url('../images/product/bg-left.svg') 0% 15% no-repeat,
    url('../images/product/bg-right.svg') 100% 15% no-repeat,
    linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
	padding: 50px 0 180px 0;
  position: relative;
}

.product::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/care/background-1.svg') no-repeat;
  top: -15%;
  left: 0;
  background-size: 100% 40%;
  z-index: 1;
}

.product__background-1 {
  position: absolute;
  bottom: -4%;
  right: 0;
  width: 100%;
}

.product__title {
  line-height: 35px;
  margin-bottom: 5px;
  text-align: center;
  position: relative;
  z-index: 3;
}

.product__subtitle {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  z-index: 3;
}

.product__copyright {
  font-family: 'Rotonda-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

.product__cards {
	display: flex;
	justify-content: space-between;
  position: relative;
  z-index: 3;
}

.product__card {
  background: #fff;
  width: 450px;
  height: 550px;
  margin-top: 79px;
  padding: 198px 45px 45px 40px;
  position: relative;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.product__image {
  position: absolute;
  top: -80px;
  left: 20px;
}

.product__card-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.blue__copyright {
  color: #1DACD1;
}

.product__children-food {
  font-family: 'Rotonda-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #1DACD1;
}

.product__children-weight {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #585858;
}

.product__specification {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #585858;
  margin-top: 13px;
}

.product__specification_second {
  margin-bottom: 78px;
}

.product__buttons {
  margin-top: 36px;
}

.product__button {
  margin-right: 18px;
}

.empty {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: inherit;
  color: #585858;
  border: 2px solid;
  padding: 14px 28px 14px 28px;
  cursor: pointer;
  border-image-source: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
  border-image-slice: 1;
  border-width: 2px;
}

.product__button:last-child {
  margin-right: 0;
}

.product__promotion {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .product__title {
    margin-bottom: 0;
  }

  .product__subtitle {
    margin-bottom: 130px;
  }

  .product__cards {
    display: block;
  }

  .product__card {
    margin: 0 auto 100px auto;
  }

  .product__card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .product  {
    padding: 25px 0 25px 0;
  }

  .product__title {
    font-size: 23px;
    line-height: 31px;
    margin-bottom: 25px;
  }

  .product__promotion {
    position: relative;
    z-index: 1;
  }
}

@media screen and (max-width: 576px) {
  .product {
    background: linear-gradient(110.7deg, #FDCE7D 0.01%, #AF7039 47.92%, #AF7039 55.21%, #FDCE7D 100%);
    padding-top: 61px;
  }

  .product::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/product/mob-bg.svg') no-repeat;
    top: -1%;
    left: 0;
    background-size: 100% 15%;
    z-index: 0;
  }

  .product__title {
    margin-bottom: 0;
  }

  .product__copyright {
    font-size: 14px;
    line-height: 18px;
  }

  .blue__copyright {
    font-size: 23px;
  }

  .product__subtitle {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 77px;
  }

  .product__card {
    width: auto;
    height: 100%;
    padding: 100px 5px 20px 24px;
    margin-bottom: 86px;
  }

  .product__image {
    width: 277px;
    top: -67px;
    left: 9px;
  }

  .product__children-weight {
    order: -1;
    margin-bottom: 10px;
  }

  .product__card-description {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 53px;
  }

  .product__specification {
    font-size: 14px;
    margin-bottom: 33px;
    margin-top: 7px;
    line-height: 16px;
  }

  .product__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .product__button {
    margin-bottom: 20px;
    width: 170px;
  }

  .product__button:last-child {
    padding: 11px 28px;
    width: 161px;
    margin-bottom: 0;
  }
}

/* Footer */

.footer {
  background: #1DACD1;
  padding: 30px;
  position: relative;
}

.footer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/footer/background-1.svg') no-repeat;
  bottom: 70%;
  left: 0;
  background-size: 100% 85%;
}

.footer__wrapper {
  position: relative;
  z-index: 2;
}

.footer__list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer__link {
  font-family: 'Rotonda-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.footer__item {
  margin-right: 40px;
}

.footer__item:nth-child(3) {
  margin-right: 10px;
}

.footer__item-social {
  display: flex;
  align-items: center;
}

.footer__link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F48420;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer__link-social_second {
  background: #597DA3;
}

.footer__link-social_third {
  background: #3C5EA4;
}

.footer__description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 20px;
}

.footer__description_last {
  margin-bottom: 0;
}

.footer__copyright {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
}

@media screen and (max-width: 992px) {
  .footer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/footer/background-1.svg') no-repeat;
    bottom: 50%;
    left: 0;
    background-size: 100% 58%;
  }

  .footer__list {
    flex-direction: column;
  }
  
  .footer__item {
    margin-right: 0;
  }

  .friends {
    order: -1;
  }

  .rules {
    order: 2;
    margin-bottom: 16px;
  }

  .confidentiality {
    order: 3;
  }

  .footer__item-social {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .footer::after {
    bottom: 22%;
    background-size: 100% 34%;
  }
}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 40px;
  }

  .footer::after {
    bottom: 11%;
    background-size: 100% 17%;
  }

  .footer__item:nth-child(3) {
    margin-right: 0;
    margin-bottom: 8px;
  }

  .share {
    font-size: 18px;
  }

  .footer__link-social {
    width: 40px;
    height: 40px;
  }

  .ok {
    width: 11px;
    height: 19px;
  }

  .vk {
    width: 22px;
    height: 12px;
  }

  .facebook {
    width: 10px;
    height: 19px;
  }
}